$link-color: #6f21cf;
$link-color-visited: #c41b4b;
$link-color-hover: #410c82;
$icon-color: #111;


$masthead-background: url(http://subtlepatterns.com/patterns/congruent_outline.png);


$hexagon-color: #ccac64;

$footer-background: #fb4679;
